.carouselCaption h3{
    font-size: 55px;
    color: white;
    margin-bottom: 30px;
    animation: textIn .5s ease;
    -webkit-animation: textIn .9s ease;
}
.bann{
    margin-top: 3px;
}
@keyframes textIn{
    0%{
        opacity: 0%;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
}
    100%{
        opacity: 100%;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
}

}


@media only screen and (max-width: 576px){
    .carouselCaption h3{
        font-size: 28px;
        color: white;
        margin-bottom: 10px;
        animation: textIn .9s ease;
        -webkit-animation: textIn .9s ease;
}
.bann{
    margin-top: 51px;
}
}