.carouselCaption h3{
    font-size: 55px;
    color: white;
    animation: textIn .5s ease;
    -webkit-animation: textIn 1s ease;
}
@keyframes textIn{
    0%{
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
}
    100%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
}

}