.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 100%;
    height: 100%;
}
.logo{
    margin-left: 110px;
}
.logo img{
    width: 53%;
}
.elements{
margin-right: 110px;
}
.elements ul{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    text-decoration: none;
    position: relative;
}

.elements ul li {
    text-decoration: none;
    list-style: none;
    margin: 0px 15px;
    padding: 2px 4px;
  }
.elements ul li:hover{
  text-decoration: underline;
}
.signup-button{
    background-color: #FF9C1A;
    color: white;
    padding: 4px 12px;
    margin-left: 10px;
    margin-right: 9px;
}
.signup-button:hover{
    background-color: #FF9C1A;
    color: black;
}
.d{
    text-decoration: none;
}
.login-button{
 border: 1px solid #ff9c1a;
 padding: 4px 12px;

}
.login-button:hover{
 border: 1px solid #ff9c1a;
 background-color: #FF9C1A;
 padding: 4px 12px;
 color: white;
}
.logout-button{
     border: 1px solid #FF9C1A;
     padding: 4px 12px;
     border-radius: 4px;
     background-color: transparent;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
}

@media only screen and (max-width: 576px){
    .header{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
        z-index: 1000;
    }
    .logo{
        margin-left: 20px;
    }
    .logo img{
        width: 120px;
    }
    .elements{
        margin-right: 100px;
        }
}