.banner{
    z-index: 0;
}
.manage-inv{
     height: 50px;
     text-align: center;
}
.manage-inv button{
     background-image: linear-gradient(to left, rgb(255, 188, 64), orange);
     padding: 6px 16px;
     border: none;
     font-size: 18px;
     border-radius:6px;
     -webkit-border-radius:6px;
     -moz-border-radius:6px;
     -ms-border-radius:6px;
     -o-border-radius:6px;
}
.manage-inv button:hover{
     border: 2px solid orange;
     background-image: linear-gradient(to left, rgb(255, 188, 64), orange);
      font-size: 19px;
      color: white;
}