.card-parent{
    display: flex;
    align-items: center;
    width: 410px;
    justify-content: space-around;
    padding: 9px 9px;
    margin: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}
.card-img{
    text-align: center;
    width: 110px;
}
.card-img img{
    width: 70px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.card-details{
    width: 100%;
    margin-left: 10px;
}   
.card-details p{
    margin-bottom: 2px;
}
.card-details h3{
    margin-bottom: 2px;
}
.delete-but{
    cursor: pointer;
}
.icons{
    width: 35%;
    display: flex;
    justify-content: space-between;
}